.container {
  position: relative;
}

.grid {
  display: grid;
  grid-gap: 20px;
  padding-block: 20px;
}

.loader {
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.reset {
  grid-area: reset;
}