.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    'courts'
    'rounds'
    'progressive';
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 'courts rounds progressive';
    grid-template-columns: 1fr 1fr max-content;
  }
}

.courts {
  grid-area: courts;
}

.rounds {
  grid-area: rounds;
}

.progressive {
  grid-area: progressive;
}

.generate {
  grid-area: generate;
}